/application/config/*
!application/config/migration.php
/application/config/database.php
!application/config/database.php.*
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
[_]notes/
/datafiles/*
!/datafiles/uploadprogress.txt
/upload/attachments/*
/upload/templates/*
!/flexi_cart/*


# Files created by IDEs like Eclipse, Zend Studio, Netbeans, PHPStorm and TextMate2, Intellij
.buildpath
.project
.settings
nbproject
.idea
.tm_properties
*.iml