<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event" style="background-color:<%= event.color %>" ></span>&nbsp;
				<a href="#" data-modal='view-appointment' data-id="<%= event.id %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.starttime %> - <%= event.endtime %> <%= event.title %> <span style='color:grey'><%= event.text %></span> <%= event.statusinline %></a>
			</li>
		<% }) %>
	</ul>
</div>
