
body { overflow-y:scroll;
 }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.edit-btn,.glyphicon-pencil,.glyphicon-remove,.glyphicon-plus,.glyphicon-trash,.favorite-btn,.urgent-btn,.pointer { cursor:pointer !important }
.favorite-btn:hover,.urgent-btn:hover {
color:	#428bca
}
.edit-panel { display:none; padding:0 20px; }
.survey-container,.xfer-container,.email-container,.email-view-container {
position:fixed;
z-index: 99999;
right:0px;
display:none;
}
.form-container { display:none; margin-bottom:40px;  }
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
.tab-pane { padding:20px 20px 0 }
.edit-contact-btn,.edit-phone-btn,.edit-address-btn,.contact-item-btn,.company-item-btn,.edit-survey-btn,.edit-company-btn { padding-right:4px; }
.contact-detail-list,.company-detail-list { padding-top:15px }
.tab-alert { display: inline-block; font-size:.8em; padding:10px; }
.tt { cursor:help }
.padl { padding-left:5px }
.marl { margin-left:5px }
.note-box { position:absolute; background:#fff; padding-right:15px; z-index:9999; right:0; margin-top:-50px; display:none; }
.note-box textarea {
    resize: none;
	overflow-y:scroll
}
.red { color:red }
.green { color:green }
.yellow { color:yellow }
.visible { overflow:visible !important }
.record-count { width:50px; display:inline-block }

div.tooltip-inner {
    font-size: 14px;
}
.dt-filter { width:100% !important }
.footer-stats { height:50px; z-index:9999999;position:fixed; bottom:0px; width:100%; padding:10px }
.footer-stats > div { color:#fff; display:inline; margin-left:20px; float:right }