<style>
.orange-circle {
	display:block;
	width:40px;
height:40px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:40px;
text-align:center;
background:#F90;
opacity: 0.8;
cursor:pointer;
margin-top:15px;
}
.events-list {

}
span[data-cal-date]{ position:absolute; right:5px; top:5px; margin:0; }
.cal-month-day { padding:10px }
.tooltip-inner { max-width:350px }
</style>
<div class="cal-month-day <%= cls %>" item-day="<%= data_day %>">
	<span class="rule-tooltip" data-cal-date="<%= data_day %>" data-cal-view="day" data-html="true" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
    <div class="clearfix"></div>
	<% if (events.length > 0) { %>
    <% if (events[0].app_count > 0) { %>
                    <span class="orange-circle"><%= events[0].app_count %></span>
                    <% } %>
	<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>" data-cal-date="<%= data_day %>">
				
</div>
	<% } %>
</div>
<!-- old version showing individual appointments 
<div class="cal-month-day <%= cls %>" item-day="<%= data_day %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<span class="glyphicon glyphicon-time block-day-btn <%= data_day %> pointer" item-day="<%= data_day %>" item-rules="" style="display:none;" data-toggle="tooltip" data-html="true" title=""></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>"  data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event" style="background-color:<%= event.color %>" data-toggle="tooltip" data-html="true"
				   title="<%= event.starttime %> - <%= event.endtime %>
							<br>Postcode: <%= event.postcode %>
							<br>Campaign: <%= event.campaign %>
							<br>Title: <%= event.title %>
							<%= event.company %>
							<%= event.contact %>
							<br>Attendee: <%= event.attendees %>
							<%= event.status %>
							<%= event.distance_hover %>">
				</a>
			<% }); %>
		</div>
	<% } %>
</div>
-->