<% _.each(events, function(event){ %>
<div class="cal-row-fluid">
	<div class="cal-cell<%= event.days%> cal-offset<%= event.start_day %> day-highlight dh-<%= event['class'] %>"
		 data-event-class="<%= event['class'] %>" style="height: 60px; background-color:<%= event.color %>">
		<a data-modal='view-appointment' data-id="<%= event.id %>" href="#" data-event-id="<%= event.id %>"
		   class="cal-event-week event<%= event.id %>" style="font-size: 12px;" data-toggle="tooltip" data-html="true"
		   title="<%= event.starttime %> - <%= event.endtime %>
							<br>Postcode: <%= event.postcode %>
							<br>Campaign: <%= event.campaign %>
							<br>Title: <%= event.title %>
							<%= event.company %>
							<%= event.contact %>
							<br>Attendee: <%= event.attendees %>
							<%= event.status %>
							<%= event.distance_hover %>">
			<%= event.title %>
			<div style="font-size: 9px;"><%= event.starttime %> - <%= event.endtime %></div>
		</a>
	</div>
</div>
<% }); %>
